html *{
  font: 700 20px/1.2 "Poppins", Helvetica, Arial, serif;
}

.container{
  display: flex;
}

.top-logo {
  display: flex;
  justify-content: left;
  margin-top: -8px;
  margin-left: -8px;
}

.image {
  width: auto;
  height: 99.2vh;
}

.form{
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 80vh;
}

.mid-options{
  margin-top: 30%;
  margin-left: 25%;
  vertical-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.default-input{
  display: block;
  border-radius: 15px 15px 15px 15px;
  border: none;
  background-color: #daded2;
  width: 60%;
  height: 50%;
  line-height: 2em;
  margin-top: 5px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.low-buttons{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.option-buttons{
  margin: 5px;
  border-color: white;
  background-color: #FF6464;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  width: 8vmax;
  margin-bottom: 0px;
  margin-top: auto;
  height: 50px;
  line-height: 2em;
}

.option-buttons:hover{
  background-color: hsl(0, 100%, 80%);
}

.option-buttons:active{
  background-color: hsl(0, 100%, 90%);
}

.alert{
  color:red;
}


.wrapper {
  display: grid;
  gap: 20px;
}

.img{  
  top: 0;
  width: 18vmax;
  height: 20vmax;
  border-radius: 25px;
}

.food-wrapper{
  width: 8.5vmax;
  display: grid;
  height: 20vmax;
  padding-left: 30px;
}

.food-text{
  padding-bottom: 5px;
  font-size: 1.5vmax;
  font-style: italic;
  color: #30475E;
}

.ratings {
  list-style-type: none;
  margin: 0;
  width: 100%;
  direction: rtl;
  text-align: left;
}

.star {
  line-height: 60px;
  display: inline-block;
  transition: color 0.2s ease;
  color: black;
  text-shadow:0px 8px 15px rgba(0, 0, 0, 0.1);
}

.star:before {
  content: '\2605';
  width: 60px;
  height: 60px;
  font-size: 1.6vmax;
}

.star:hover,
.star.selected,
.star:hover ~ .star,
.star.selected ~ .star{
  transition: color 0.8s ease;
  color: rgb(255, 225, 0);
}

.staron {
  line-height: 60px;
  display: inline-block;
  transition: color 0.2s ease;
  color: rgb(255, 225, 0);
  text-shadow:0px 8px 15px rgba(0, 0, 0, 0.1);
}

.staron:before {
  content: '\2605';
  width: 60px;
  height: 60px;
  font-size: 1.6vmax;
}

.staron:hover,
.staron.selected,
.staron:hover ~ .star,
.staron.selected ~ .star{
  transition: color 0.8s ease;
  color: rgb(255, 255, 128);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.input-quantity{
  width: 40px;
  text-align: center;
}

.dish-data{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.separator {
    width: 17vw;
    display: grid;
    height: 5vh;
    padding-left: 20px;
    margin: 5px;
}

.resumen {
  margin: auto;
  margin-left: 1vw;
  margin-top: 70px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px 15px 15px 15px;
  padding-left: 3.2vw;
}