.navbar{
    position: fixed;
    background: #FF6464;
    width: 100%;  
    top: 0;
    left: 0;
}

.navbar ul{
    display: flex;
    justify-content: right;
    align-items: center;
}

.navbar ul li{
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.link{
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
    -ms-transition:all 0.2s;
}

.link:hover{  
    padding: 15px;
    border-radius: 25px;
    background: #000000;
}

h1{
    font-size: 50px;
    color: #385B89;
}

.icon {
    margin-right: 20px;
    max-height: 25px;
    vertical-align: middle;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
    -ms-transition:all 0.2s;
}

.icon:hover{
    margin-top: -15px;
    margin-bottom: -15px;   
    padding: 15px;
    border-radius: 25px;
    background: rgb(0, 0, 0);
}