.navbar{
    position: fixed;
    background: #FF6464;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    user-select: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.navbar ul{
    display: flex;
    justify-content: right;
    align-items: center;
}

.navbar ul li{
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.link{
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
    -ms-transition:all 0.2s;
}

.link:hover{
    font-size: 25px;
    padding: 15px;
    border-radius: 25px;
    background: #000000;
}

h1{
    font-size: 50px;
    color: #385B89;
}

.icon {
    margin-right: 20px;
    max-height: 25px;
    vertical-align: middle;
}

.icon:hover {
    margin-top: -15px;
    margin-bottom: -15px;   
    padding: 15px;
    border-radius: 25px;
    background: rgb(0, 0, 0);    
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
    -ms-transition:all 0.2s;
    max-height: 30px;
    animation: animate-cart 0.35s linear forwards;
}


@keyframes animate-cart {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(30deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(30deg);
    }

}

.buy-animation {
    animation: animate-cart-in 0.35s linear forwards;    

}

@keyframes animate-cart-in {
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(0,15px);
    }
    50%{
        transform: translate(0,0) scale(2);

    }
    100%{
        transform: scale(1);
        
    }

}