{% extends 'layout/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div>
        <div class="top-logo">
            <img class="image" src="{% static 'assets/express_delivery.png' %}"/>
        </div>
    </div>
    <form method="POST">
    <div class="form">
        <div class="mid-options"  style="margin-top: 15%">
            <h1>Registro</h1>    
            {% csrf_token %}
            {{form.as_div}}
            {% for message in messages %}
            <p {% if message.tags %} class="alert"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        <div>
            <div class="low-buttons">
                <button type="submit" name="register"
                class="option-buttons">Registrarse</button>
            </div>
        </div>
        <div style="margin-left: 10%; margin-top: 5%;">
            <div style="margin-bottom: 10px;">
                ¿No tienes cuenta?<a href="{% url 'login' %}">Login</a>
            </div>
            <div>
                ¿Estás de paso?<a href="{% url 'index' %}">Omitir</a>
            </div>
        </div>
    </div>
    </form>    
</div>
{% endblock %}